.nav-P-item {
    color:black;
    list-style: none;
    border-radius: 25px;
    border-color: black;
    background-color: #E6F6FD;
    background-position: left top;
    background-repeat: repeat;
    width: 100px;
    height: 50px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    transition: 0.5s;
    text-align: center;
}

.nav-P-item a {
    text-decoration: none;
    color:black;
text-align: center;
}

.nav-list {
    text-decoration: none;
    color: #ccc;
}


.nav-P-item:hover {
    transform: scale(1.1);
    color: #3FADF8;
  }

  .nav-P-item a:hover {
    transform: scale(1.1);
    color: #3FADF8;
  }