.forms {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.head1 {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
  width: 313px;
  padding-right: 220px;
  margin-bottom: 10px;
}

.createAcc {
  color: #868383;
  margin: 0px;
  margin-bottom: 35px;
  font-size: 15px;
}
.welcome {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.welcome p{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 20px;
}
.WelcomeH2{
  color:white;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}
.container {
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.89) 60%, #34ADFF 40%);
  height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
